/* Navbar (fixed) */

.navbar {
    position: fixed;
    width: 90%;
    height: 4rem;
    padding: 0.5rem 5%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    text-align: center;
    background-color: white;
    box-shadow: 0 0 0.5rem #aaa;
}

.navbar-item {
    width: 7rem;
    padding: 0.25rem 0;
    margin: 0 1rem;
    
    flex-grow: 0;
    flex-shrink: 0;
    border: none;
    border-radius: 0.5rem;

    font-family: var(--main-font);
    font-weight: 700;
    font-size: 1.25rem;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}

.navbar-item:hover {
    background-color: #ddd;
}

.navbar-logo-container {
    flex-grow: 1;
    text-align: left;
    cursor: default;
}

.navbar-logo-container:hover {
    background-color: white;
}

.navbar-logo {
    height: 3rem;
    padding: 0.1rem;
    cursor: pointer;
}
