.event-header{
    background-color: lightslategray;
    border-radius:10px;
    padding:10px;
    margin: 10px;
}

.event-body{
    background-color: lightsteelblue;
    border-radius:10px;
    padding:10px;
    margin:10px;
}

.devpost-button{
    background-color:rgb(39, 109, 189);
    padding:10px;
    border:none;
    border-radius: 10px;
    margin: 10px;
    display:inline-block;
    font-size:16px;
    cursor: pointer;
}

.github-button{
    background-color:rgb(182, 71, 204);
    padding:10px;
    border:none;
    border-radius: 10px;
    margin: 10px;
    display:inline-block;
    font-size:16px;
    cursor: pointer;
}

.site-button{
    background-color:rgb(255, 255, 255);
    padding:10px;
    border:none;
    border-radius: 10px;
    margin: 10px;
    display:inline-block;
    font-size:16px;
    cursor: pointer;
}

.person-box{
    background-color:black;
    padding:10px;
    border-radius:10px;
    margin:5px;
    display:inline-block;
    color:white;
}

.no-drop{
    visibility:hidden;
    height:0px;
    margin:0px;
}