/*Footer stuff*/
.footer {
    margin-top: 0px;
    margin-right: 10vw;
    margin-bottom: 0.5rem;
    margin-left: 10vw;
    text-align: center;
}

.contact-us-info-box {
    margin: 0 10vw;
    font-size: 1rem;
}

.footer-links {
    display: block;
    align-content: center;
  }
  
.item img{
      height: 40px;
      width: 40px;
      margin: 0px 50px;
      transform: scale(1);
      transition: filter 0.5s, transform 0.4s;
      flex-grow: 1;
}

.item:hover img{
      transform: scale(1.15);
}