/*Footer stuff*/
.footer {
    margin-top: 0px;
    margin-right: 10vw;
    margin-bottom: 0rem;
    margin-left: 10vw;
    text-align: center;
}

.contact-us-info-box {
    margin: 0 10vw;
    font-size: 1rem;
}
