.footer-item {
  display: block;
  text-align: center;
}

.footer-item img {
    height: 40px;
    width: 40px;
    margin: 0px -100px;
    transform: scale(1);
    transition: filter 0.5s, transform 0.4s;
    flex-grow: 1;
}

.footer:hover img {
    transform: scale(1.15);
}