@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Open+Sans:wght@400;500;700&display=swap');

#root {
    --title-font: 'Patrick Hand', sans-serif;
    --main-font: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    font-family: var(--title-font);
    font-size: 4rem;
    margin: 1rem 0;
}

.app {
    width: 100%;
    padding: 0.01rem;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 1rem;
}

/* List of events */

.events {
    margin: 0 15vw;
    padding-top: 5rem;
}
